body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

#appointments {
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}

#calendar {
    max-width: 900px;
    margin: 0 auto; /* Centraliza o calendário na página */
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#analytics {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2, h3 {
    color: #333;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove padding */
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd; /* Separator between items */
}

li:last-child {
    border-bottom: none; /* Remove separator from the last item */
}